<%-include("partials/header");%>
  <div class="container text-center">
    <h1 class = "mb-5">☹There is no posts with this ID, search again or create it yourself!</h1>
    <a class = "btn btn-warning" href = "/" name="button">Return To Home</a>
  </div>

<%-include("partials/footer");%>
